body{
    margin:0;
}

.wrapper{
    width: 100%;
    height: 100%;

}

.navbar{
    width: 100%;
    height:60px;
    background-color: blueviolet;
}

.navbar> ul{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin:0;

}

.navbar li{
    position: relative;
    list-style: none;
}

.navbar ul li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: floralwhite;
    width:180px;
    height: 60px;
}

.wrap{
    text-transform: uppercase;
    width:150px;
    height: 30px;
    padding: 15px;
    text-align: center;
}


.navbar-item.active,
.dd-start.active{
        background-color:greenyellow;
}

.navbar-item.active + .dd-menu{
    display:block;
}


.navbar ul li > a{
    margin-right: 1rem;
}


.navbar .dd-menu{
    top: 127%;
    left: -20%;
    position: absolute;
    display: none;
}

.dd-start.active + .dd-submenu{
    display: block;
}

.navbar .dd-menu ul li a{
    background-color: blueviolet;
    
}

.navbar .dd-menu:before{
        content: "";
        position: absolute;
        top:-18%;
        left:55%;
        transform: translateX(-50%);
        z-index: 1;
        border:15px solid;
        border-color: transparent transparent blueviolet transparent;
}

.dd-submenu{
    top: 20%;
    left:80%;
    position: absolute;
    display:none;
}

.navbar .dd-submenu:before{
    content: "";
    position: absolute;
    top:0%;
    left:10%;
    transform: translateX(-50%);
    z-index: 1;
    border:15px solid;
    border-color: transparent blueviolet transparent transparent;
}


.navbar ul li a:hover,
.navbar .dd-menu ul li a:hover{
    background-color: #79f794;
}

.navbar-item.active,
.dd-start.active{
    background-color: #29dd50 !important;
}
